 body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #c2bbbb;
    text-align: center;
}

h1 {
    color: hsl(0, 23%, 12%);
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
}

h2 {
    color: hsl(0, 23%, 12%);
    font-size: 30px;

}

p {
    color: hsl(0, 23%, 12%);
    font-size: 20px;
}

nav {
    background-color: hsl(0, 2%, 56%);
    padding: 10px;
}

nav a {
    color: rgb(73, 3, 237);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.Context {
    background-color: hsl(0, 2%, 56%);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: rgb(73, 3, 237);
}

.button {
    background-color: hsl(0, 2%, 56%);
    color: rgb(98, 96, 104);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}